.auto-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 16px;
}

.auto-list__card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
}

.auto-list__card img {
    border-radius: 16px;
    margin-bottom: 8px;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.auto-list__card h1 {
    font-size: 17px;
    font-weight: 500;

    margin-bottom: 8px;
}

.auto-list__card h2 {
    font-size: 15px;
    font-weight: 400;
}

.auto-list__card-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.auto-list__card h3 {
    font-size: 17px;
    font-weight: 500;
    color: #760135;
}

.auto-list__card a {
    font-size: 13px;
    color: #282828;
}

.link-to-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 24px;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 16px;
}

.link-to-form h1 {
    font-size: 15px;
    font-weight: 400;

}

.link-to-form a {
    font-weight: 500;
    color: #760135;
}
