.banner {
    height: 380px;
    padding: 0 0 0 60px;
    background: linear-gradient(225deg, #FEE4FF 0%, #EFF9FF 100%);

}

.banner__bg-image {
    background-image: url(../images/car.png);
    background-repeat: no-repeat;
    background-position: 51vw 0vh;
}

.banner__wrapper {
    height: 380px;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Group\ 693.png);
    background-repeat: no-repeat;
    background-position: right;
}

.banner__bredcrumb {
    display: inline-flex;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 16px 0 0 0;
    color: #8D8D8D;
    font-size: 13px;
    font-weight: 400;
}

.banner__bredcrumb li:last-child  {
    color: #000000;
}

.banner__title {
    margin: 78px 0 26px 0;
    font-size: 38px;
    font-weight: 600;
}

.bunner__subtitle {
    font-size: 15px;
    font-weight: 400;
}

.banner__button {
    opacity: 1;
    width: 231px;
    height: 48px;
    padding: 8px 24px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #760135;
    color: #FFF;
    border: none;
    font-size: 15px;
    cursor: pointer;
}


@media (max-width: 980px) {

    .banner {
        padding: 0 0 0 17px;
        background-position: 53vw -10vh;
        background: linear-gradient(180deg, rgba(247, 249, 250, 0.00) 0%, #F7F9FA 100%)
    }
    
    .banner__bredcrumb {
        display: none;
    }

    .banner__wrapper {
        background-position: 26vw;
    }

    .banner__bg-image {
        background-position: 50vw -50px;
    }

}

@media (max-width: 480px) {

    .banner {
        height: 450px;
        padding: 0;
        background: linear-gradient(225deg, #FEE4FF 0%, #EFF9FF 100%);
    }

    .banner__title {
        margin-top: 24px;
    }

    .banner__info {
        padding: 0 16px;
    }

    .banner__bredcrumb {
        display: inline-flex;
    }

    .banner__button {
        display: none;
    }

    .banner__bg-image {
        height: 450px;
        background-image: url(../images/Car2.png);
        background-position: -3vw 95%;
        
    }

    .banner__wrapper {
        background-image: none;
        background-position: -144vw 14vh;
        height: 450px;
    }

}

@media (max-width: 380px) {
 .banner__bg-image {
    background-position: -10vw 95%;
 }
}