.choose-auto {
    margin: 0 173px;
    font-family: IBM Plex Sans;
}

.choose-auto__title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-family: IBM Plex Sans;
}

.choose-auto__title h1 {
    font-size: 32px;
}

.choose-auto__title button {
    font-size: 15px;
    display: flex;
    height: 40px;
    width: 256px;
    padding: 8px 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #760135;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}


.choose-auto__selectionbar {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 24px 0;
}

.choose-auto__selection h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}

.choose-auto__selection select, input {
    width: 100%;
    display: flex;
    padding-left: 16px;
    opacity: 0.5;
    height: 40px;
    border: 1px solid #ECEDF0;
    border-radius: 8px;
    background-color: #F3F3F5;
}

.mark {
    width: 441px;
}

.year {
    width: 219px;
}

.price {
    width: 394px;
}

.choose-auto__price-input {
    display: flex;
    align-items: center;
    gap: 18px;
}

.choose-auto__price-input img {
    height: 4px;
}

.swiper-button-next {
    right: 34px !important;
}

.swiper-button-next::after {
    color: gray;
    font-size: 16px !important;
    font-weight: 600 !important;
    opacity: 0.5 !important;
}