html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

body {
    background-color: #F7F9FA;
    color: #111111;
}

button {
    font-family: IBM Plex Sans;
    font-weight: 500;
}