.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 16px 60px;
    font-family: IBM Plex Sans;
    background-color: #fff;
}

.header-bottom__logo {
    margin-right: 8px;
}

.header-bottom__left-menu {
    display:flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
}


.header-bottom__left-menu li {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    
}

.header-bottom__right-menu__service a {
    margin-right: 4px;
}

.header-bottom__right-menu {
    display:flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
}

.header-bottom__left-menu__login {
    color: #760135;
}

.header-bottom__left-menu__phone {
    color: #25B456;
}