.questions__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 173px;
    margin-bottom: 100px;
}

.questions__wrapper h1 {
    margin-right: 63px;
    font-size: 24px;
    font-weight: 500;
    height: 62px;
    min-width: 215px;
    line-height: 30px;
}

.questions__wrapper img {
margin-right: 16px;
}

.questions__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    background-color: #fff;
    border-radius: 16px;
    cursor: pointer;
}

.questions__info h2 {
    font-size: 15px;
    font-weight: 400;
}