.questions__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 173px;
    margin-bottom: 100px;
}

.questions__info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.questions__wrapper h4 {
    margin-right: 63px;
    font-size: 24px;
    font-weight: 500;
    height: 62px;
    min-width: 215px;
    line-height: 30px;
}

.questions__info-answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    margin-top: 16px;
    background-color: #fff;
    border-radius: 16px
}


.questions__wrapper img {
margin-right: 16px;
}

.questions__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    background-color: #fff;
    border-radius: 16px;
    cursor: pointer;
}

.questions__info p {
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 1240px) {
    .questions__wrapper {
        flex-direction: column;
        justify-content: center;
        margin: 0 16px 100px 16px;
    }

    .questions__wrapper h4 {
        margin-right: 0;
        margin-left: 73px;
    }

    .quest__img {
        display: none;
    }

    .questions__info {
        width: 672px;
    }
}


@media (max-width: 760px) {

    .questions__wrapper {
        align-items: center;
    }



    .questions__info {
        width: 328px;
    }
}

@media (max-width: 420px) {
    .questions__wrapper h4 {
        padding-bottom: 24px;
    }
    
    .questions__info {
        padding: 14px 16px;
        width: 296px;
    }
}